body {
  font-family: 'Raleway', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: linear-gradient(to bottom right, pink, gray);
}

#navbar {
  font-family: 'Poller One', Arial, sans-serif;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: #222222;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px
}

form {
  display: flex;
  flex-direction: row;
}
#searchForm {
  width: 600px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  margin-top: 10px;
  border: 2px solid white
}
#dogList {
  font-size: 20px;
  font-weight: bold;
  
  
}
#test {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}
#testImage {
margin-left: 45px;
margin-top: 15px;
margin-bottom: 15px; 
}
#detailsBtn {
  display: flex;
  align-items: center;
  max-width: 100%;
}
table {
  border-collapse: collapse; 
  box-shadow: 0 0 12px black;
  border-radius: 15px;
}

th,
td {
  padding: 5px;
  color: white;
}


