body {
  font-family: 'Raleway', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: linear-gradient(to bottom right, pink, gray);
  }

#navbar {
  font-family: 'Poller One', Arial, sans-serif;
  font-weight: bold;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: #222222;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px
}

form {
  display: flex;
  flex-direction: row;
}
#searchForm {
  width: 600px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  margin-top: 10px;
  border: 2px solid white
}
#puppyList {
display: flex;
justify-content: center;
flex-direction: row;
justify-content: space-between;
padding-left: 30PX;
padding-right: 30px;

}

#puppyContestant{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 10px;
}
#searchButton{
  margin: 20px;
}
.puppyImage{
  width: 150px;
  height: auto;
}
#puppyName, #puppyId{
  display: inline;
  width: 49%;
}
#selectedPuppy {
  display: flex;
  align-items: center;
}
.selectedPuppy {
  display: flex;
  justify-content: center;
}


